<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/sitelayout">
<head>
<title th:text="#{app.name}">List of Hotels</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.css" />
<link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="well well-small">Bots</h1>
			</div>
		</div>
		<div layout:fragment="content">
			<div class="row">
				<div class="col-xs-12">
					<form action="#" th:action="@{/bots/create}" method="POST" th:object="${bot}" class="form-horizontal">
						<div class="form-group">
							<label for="id" class="col-xs-2">id</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="id" th:field="*{id}"/>
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Error with id</p>
							</div>
						</div>
						<div class="form-group">
							<label for="twitterName" class="col-xs-2">twitterName</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="twitterName" th:field="*{twitterName}"/>
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('twitterName')}" th:errors="*{twitterName}">Error with twitterName</p>
							</div>			
						</div>		
						<div class="form-group">
							<label for="idMarker" class="col-xs-2">idMarker</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="idMarker" th:field="*{idMarker}"/>
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('idMarker')}" th:errors="*{idMarker}">Error with idMarker</p>
							</div>							
						</div>
						<div class="form-group">
							<label for="markingDate" class="col-xs-2">markingDate</label>
							<div class="col-xs-6">
								<input class="form-control" placeholder="markingDate" th:field="*{markingDate}"/>
							</div>
							<div class="col-xs-4">
								<p class="text-warning" th:if="${#fields.hasErrors('markingDate')}" th:errors="*{markingDate}">Error with markingDate</p>
							</div>
						</div>
						<button type="submit" class="btn btn-default">Submit</button>							
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>